* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  line-height: 18px;
  scroll-behavior: smooth;
}

/* Define a aparência da barra de rolagem */
::-webkit-scrollbar {
  width: 10px; /* largura */
}

/* Define a aparência do preenchimento da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #2c96bf; /* cor de fundo */
  border-radius: 0px; /* arredondamento das bordas */
}

/* Define a aparência do fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: #e8eff5; /* cor de fundo */
}

body {
  background-color: #e8eff5;
}

header {
  display: flex;
  position: fixed;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
  width: 100%;
  z-index: 50;
  background-color: #e8eff5;
}

.language-container{
    display: inline-flex;
    margin-left: 100px;
}

.en-txt {    
    margin-right: 8px;
    color: #2c96bf;
    font-weight: 400;
}
  

.pt-br-txt {    
    color: rgb(56, 56, 56);
    font-weight: 400;
    opacity: 0.4;
}

/* Estilo padrão para o elemento input */
.toggle-switch input {
    display: none;
  }
  
  /* Estilo para o botão "slider" */
  .toggle-switch .slider {
    margin-right: 8px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #2c96bf;
    border-radius: 20px;
    transition: background-color 0.2s;
  }
  
  /* Estilo para o botão "slider" quando o input estiver checado */
  .toggle-switch input:checked + .slider {
    background-color: #2c96bf;
  }
  
  /* Estilo para o botão "slider" quando o input estiver focado */
  .toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px #2c96bf;
  }
  
  /* Estilo para o botão "slider" quando estiver checado e focado */
  .toggle-switch input:checked:focus + .slider {
    box-shadow: 0 0 1px #2c96bf;
  }
  
  /* Estilo para o botão "slider" após o input ser checado */
  .toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: #e8eff5;
    border-radius: 50%;
    transition: transform 0.2s;
  }
  
  /* Estilo para o botão "slider" quando o input estiver checado */
  .toggle-switch input:checked + .slider:before {
    transform: translateX(20px);
  }
  

.menu-container {
  display: inline-block;
  margin-top: 5px;
  margin-left: 600px;
  font-size: 15px;
  font-weight: bold;
}

.logo-container {
  margin-left: 150px;
}

.logo-container:hover {
    opacity: .8;
}

.logo-container:active {
    opacity: .6;
}

#logo-img {
  display: inline-block;
  max-width: 100%;
  width: 45px;
  height: 50px;
}


li {
  display: inline-block;
  padding: 20px;  
  color: #2c96bf;
}

.menu{ /*ANCORAS DO MENU INICIAL*/
    text-decoration: none;
    color: #2c96bf;
}

.menu:hover {
    opacity: .8;
}

.menu:active {
    opacity: .6;
}

.container {
  height: auto;
}

.home-left-container {
  position: absolute;
  display: inline-block;
  margin-left: 150px;
  height: 200px;
  width: 800px;
  margin-top: 250px;
  z-index: 1;
}

.home-intro {
  color: rgb(56, 56, 56);
  font-weight: 400;
  font-size: 15px;
}

.home-name {
  color: #2c96bf;
  font-weight: 900;
  line-height: 80px;
  font-size: 42px;
}

.home-title {
  color: rgb(56, 56, 56);
  font-weight: 400;
  font-size: 20px;
}

.resume-button {
  display: block;
  text-align: center;
  width: 166px;
  height: 38px;
  margin-top: 50px;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  }
.resume-button .front,
.resume-button .back {
  position: absolute;
  display: block;
  width: 166px;
  height: 38px;
  border: 1px solid #4c4c4d;
  line-height: 40px;
  transition: all 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  color: #4c4c4d;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
.resume-button .front {
  background-color: #e8eff5;
  transform: translateZ(19px);
  -webkit-transform: translateZ(19px);
  -moz-transform: translateZ(19px);
  border-radius: 10px;
}
.resume-button .back {
  background-color: #2c96bf;
  color: #fff;
  transform: rotateX(-90deg) translateZ(19px);
  -webkit-transform: rotateX(-90deg) translateZ(19px);
  -moz-transform: rotateX(-90deg) translateZ(19px);
  border-radius: 10px;
}
.resume-button:hover {
  transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
}

.github-img {
  display: inline-block;
  margin-top: 10px;
  height: 30px; 
}
.github-img:hover {
    opacity: .6;
}
.github-img:active {
    opacity: .4;
}

.linkedin-img { 
  margin-left: 33px;
  height: 30px;
}
.linkedin-img:hover {
    opacity: .6;
}
.linkedin-img:active {
    opacity: .4;
}

.instagram-img {
  margin-left: 33px;
  height: 30px;
}
.instagram-img:hover {
    opacity: .6;
}
.instagram-img:active {
    opacity: .4;
}

.home-right-container {
  position: absolute;
  border-radius: 10px;
  background-color: #e8eff5;
  display: inline-block;
  margin-left: 40px;
  height: 200px;
  width: 400px;
  margin-top: 250px;
  margin-left: 900px;
  z-index: 1;
  padding: 30px 35px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.home-phrase {
    margin-top: 35px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #4c4c4d;
}

.quote {
    font-weight: 300;
    color: #4c4c4d;
    text-align: right;
}

.triangle-background {
  position: absolute;
  z-index: -1;
  right: 0;
}

/* .triangle-left {
    position: absolute;
    margin-top: 800px;
    z-index: -1;
    left: 0;
} */

.home-mytools-container {    
    position: absolute;
    margin-top: 710px;
    width: 100%;
}


.my-tools-title {
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
    color: #2c96bf
}


.home-front-end {   
    text-align: center; 
    border-radius: 10px;
    background-color: #e8eff5;
    display: inline-block; 
    margin-left: 40px;   
    height: 230px;
    width: 400px;  
    padding: 30px 35px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
    z-index: 1;
}

.dev-icon {
    height: 120%;
    margin-top: -10px;
    margin-left: -10px;
}


.home-java-script {   
    text-align: center; 
    border-radius: 10px;
    background-color: #e8eff5;
    display: inline-block;  
    margin-inline: 120px;  
    height: 230px;
    width: 400px;    
    padding: 30px 35px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
    z-index: 1;
}

.js {
    font-size: 35px;
    padding-top: 42.5px;
}

.home-passion {    
    text-align: center;
    border-radius: 10px;
    background-color: #e8eff5;
    display: inline-block;    
    height: 230px;
    width: 400px;    
    padding: 30px 35px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
    z-index: 1;
}

.star {    
    height: 70px;
    margin-top: 15px;
}

.ball {   
    margin: auto;
    margin-top: -10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(134deg, #2c96bf 0%, #1F82BF 99%);
    color: rgb(248, 248, 248);
}

.box-title {
    margin-top: 15px;
    color: #2c96bf;
    font-weight: 400;
    font-size: 19px;
}

.box-txt {
    margin-top: 20px;
    font-weight: 300;
    color: #4c4c4d;
}

.vector {
    height: 70%;
    width: 100%;
    margin-top: 1250px;
    position: absolute;
    z-index: -1;
}

.about-me-container {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 1200px;
}

.about-me-title {
    text-align: center;
    margin-top: 15px;
    color: #2c96bf;
    font-weight: 600; 
}

.about-me-image {   
    margin-top: 60px; 
    display: inline-block;    
    margin-left: 115px;
}

.about-me-txt {
    position: absolute;
    margin-top: 210px;
    display: inline-block;
    max-width: 60%;
    text-align: justify;
    font-weight: 400;
    color: #e8eff5;
}

#section-projects {
    height: auto;
    width: 100%;    
    position: absolute;    
    margin-top: 1800px;     
}

.projects-div {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;  
    justify-content: center;    
}

#projects-title {
    text-align: center;
    margin-top: 15px;
    color: #2c96bf;
    font-weight: 600; 
    margin-bottom: 100px;
}

#projects-under-div {
    text-align: center; 
    border-radius: 10px;
    background-color: #e8eff5;
    display: inline-block;     
    height: 66vh;
    width: 45vw;  
    padding: 30px 55px;
    padding-right: 13%;  
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 10px;   
    z-index: 1; 
       
}

#project-name {
    margin-top: 50px;
    display: flex;
    align-items: normal;
    font-weight: 400;
    color: #4c4c4d;
}

#project-txt {
    margin-top: 40px;
    text-align: justify;
    font-weight: 300;
    color: #4c4c4d;
}

.button-1 {
	 display: inline-block;
	 position: relative;
	 padding: 9px 20px 10px;
	 margin-top: 140px;
	 border-radius: 100px;
	 -webkit-border-radius: 100px;
	 -moz-border-radius: 100px;
	 transition: transform .35s ease, box-shadow .35s ease;
	 -webkit-transition: transform .35s ease, box-shadow .35s ease;
	 -moz-transition: transform .35s ease, box-shadow .35s ease;
	 text-transform: uppercase;
	 text-decoration: none;
}
.button-1:hover {
	 transform: translateY(-3px);
	 -webkit-transform: translateY(-3px);
	 -moz-transform: translateY(-3px);
	 -ms-transform: translateY(-3px);
	 box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.08);
	 -webkit-box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.08);
	 -moz-box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.08);
}
.button-1 .lb{
	 display: block;
	 font-size: 14px;
	 font-weight: bold;
	 color:#4c4c4d;
	 font-family: 'Montserrat', sans-serif;
}

#projects-above-div {    
    border-radius: 10px;
    background-color: #e8eff5;
    display: inline-block; 
    margin-left: -150px;  
    margin-top: -25px; 
    height: auto;
    width: 45vw;   
    box-shadow: rgba(0, 0, 0, 0.05) 5px 0px 10px;     
    z-index: 2;
}

.project-img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}

#section-contact {
    position: absolute;     
    height: 100%;
    width: 100%;           
    margin-top: 2500px;
      
}

#contact-div {
    width: 100%;
    height: 500px;     
}

#contact-me-title {    
    text-align: center;
    margin-top: 15px;
    color: #2c96bf;
    font-weight: 600; 
    margin-bottom: 100px;
}

#contact-left-div {
    display: inline-block;
    height: 30%;
    width: 30%;
    background-color: aqua;
}

#contact-right-div {
    display: inline-block;
    height: 30%;
    width: 30%;
    background-color: rgb(22, 67, 67);
}

footer {      
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
    margin-top: 5000px;
    width: 100%;
    height: 65px;      
    background-color: #e8eff5;
    align-items: center; 
    text-align: center;
    z-index: 50;
}

#footer-logo-img { 
    max-width: 100%;
    width: 45px;
    height: 50px;
}

#footer-logo-img:hover {
    opacity: .8;
}

#footer-logo-img:active {
    opacity: .6;
}







